kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ibm-mt-grqenforcer-operator
subjects:
- kind: ServiceAccount
  name: ibm-mt-grqenforcer-operator
  namespace: default
roleRef:
  kind: ClusterRole
  name: ibm-mt-grqenforcer-role
  apiGroup: rbac.authorization.k8s.io
